/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-rgb: 255, 0, 112;
  --main-font: 'IBM Plex Mono';
  --text-color: rgba(241, 178, 206, 1);
  --bg-color: rgb(0 0 40);
}

.theme-dark .page {
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-rgb: 255, 0, 112;
  --main-font: 'IBM Plex Mono';
  --text-color: rgba(241, 178, 206, 1);
  --bg-color: rgb(0 0 40);
  }
}