/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 141, 203, 1);
  --main-font: 'IBM Plex Mono';
  --text-color: rgba(53, 52, 48, 1);
  --text-color-rgb: 53, 52, 48;
  --bg-color: rgb(255, 238, 246);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --main-font: 'IBM Plex Mono';
    --text-color: rgba(53, 52, 48, 1);
    --text-color-rgb: 53, 52, 48;
    --bg-color: rgb(255, 238, 246);
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);
}

.theme-light .header {
  background-image: url(../images/cover-image-light.png);
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.theme-light .decorated-zone::after {
  border-left: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.theme-light .decor__rec {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--text-color);
}

.theme-light .header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--text-color-rgb), 0.4);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

.theme-light .header__theme-menu-button_active {
  outline: 1px solid var(--text-color);
}

.theme-light .header__title {
  color: rgba(255, 194, 230, 1);
}

.theme-light .main__section-title {
  color: var(--text-color);
}

.theme-light .footer-title {
  color: rgba(255, 194, 230, 1);
}