/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 141, 203, 1);
  --text-accent-color: rgba(53, 52, 48, 1);
  --main-font: 'IBM Plex Mono';
  --title-color: rgba(255, 194, 230, 1);
  --subtitle-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --text-accent-color-rgb: 53, 52, 48;
  --bg-color: rgb(255, 238, 246);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: rgba(255, 141, 203, 1);
    --text-accent-color: rgba(53, 52, 48, 1);
    --main-font: 'IBM Plex Mono';
    --title-color: rgba(255, 194, 230, 1);
    --subtitle-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --text-accent-color-rgb: 53, 52, 48;
    --bg-color: rgb(255, 238, 246);
    --bg-image: url(../images/cover-image-light.png);
  }

  .decor__rec {
    display: none;
  }
}
