/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
    background-color: var(--bg-color);
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: url('../images/cover-image-dark.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 10px 10px 0 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.decor__rec {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  grid-column: 2 / 3;
  justify-self: end;
  top: 15px;
  right: 10px;
  display: inline-flex;
  align-items: center;
}

.decor__rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: end;
  grid-column: 2 / 3;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--accent-color);
  font-size: 18px;
  font-family: var(--main-font), sans-serif;
  inline-size: 70px;
  block-size: 26px;
  text-align: center;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--accent-color-rgb), 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  justify-self: start;
  grid-column: 1 / 3;
  font-family: var(--main-font), sans-serif; 
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: rgba(219, 0, 255, 1);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  margin-block-end: 55px;
}

.header__description {
  justify-self: start;
  grid-column: 1 / 3;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
  font-family: var(--main-font), sans-serif;
  color: rgba(0, 0, 40, 1);
  margin-block-end: 55px;
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  padding: 0 10px 0 10px;
}

.main__section {
  margin-block-end: 50px;
}

.main__section-title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: var(--accent-color);
  font-weight: 700;
}

.main .main__section-title:first-of-type {
  margin-block-start: 40px;
}

.main__section-subtitle {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: rgba(0, 0, 40, 1);
  font-weight: 700;
  display: block;
  background-color: var(--accent-color);
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.main__section-text {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.main__section-text a {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.main__section-text a:hover {
  border-bottom: 1px solid var(--text-color);
}

.main__section-text a:focus-visible {
  outline: 1px solid var(--text-color);
}

.main__section-list-item-title {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: rgba(0, 0, 40, 1);
  font-weight: 400;
  display: block;
  background-color: var(--accent-color);
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.main__section-list-item-text {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.main__section-list-item-text a{
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

.main__section-list-item-text a:hover {
  border-bottom: 1px solid var(--text-color);
}

.main__section-list-item-text a:focus-visible {
  outline: 1px solid var(--text-color);
}

.gallery {
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}

.gallery img {
  display: block;
  inline-size: 100%;
  block-size: auto;
}

.footer {
  padding: 10px;
}

.footer-title {
  font-family: var(--main-font), sans-serif; 
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  color: rgba(219, 0, 255, 1);
  text-shadow: 2px 2px 0 var(--accent-color);
  line-height: 83%;
  margin-block-end: 55px;
  margin-block-start: 276px;
  margin-block-end: 275px;
  text-align: center;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 2fr 20px 1fr 3fr;
    padding: 20px 20px 0 20px;
    margin-block-end: 60px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .decor__rec {
    grid-column: 4 / 5;
    top: 25px;
    right: 20px;
  }

  .header__theme-menu {
    grid-column: 4 / 5;
    margin: 146px 0 173px 0;
  }

  .header__title {
    grid-column: 1 / 5;
  }

  .header__description {
    grid-column: 4 / 5;
    margin: 162px 0 163px 0;
  }

  .main {
    padding: 0 20px 0 20px;
  }

  .main__section {
    display: grid;
    grid-template-columns: 2fr 20px 1fr 3fr;
    margin-block-end: 80px;
  }

  .main__section-subtitle {
    grid-column: 1 / 5;
    block-size: auto;
  }

  .main__section-gallery .main__section-subtitle {
    margin-block-end: 20px;
  }

  .main__section-text {
    grid-column: 1 / 5;
  }

  .main__section-two-columns .main__section-subtitle {
    grid-column: 3 / 5;
  }

  .main__section-two-columns .main__section-subtitle:first-of-type {
    margin-block-start: 0;
  }

  .main__section-two-columns .main__section-text {
    grid-column: 3 / 5;
  }

  .main__section-list {
    grid-column: 3 / 5;
  }

  .main .main__section .main__section-title {
    grid-column: 1 / 2;
    margin-block-start: 0;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px 230px 318px;
    gap: 20px;
  }

  .gallery img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .gallery img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .gallery img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    block-size: 100%;
  }

  .gallery img:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    block-size: 100%;
  }

  .footer {
    padding: 20px;
  }

  .footer-title {
    margin-block-start: 443px;
    margin-block-end: 442px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: 2fr 20px 1fr 1fr 20px 2fr;
  }

  .decor__rec {
    grid-column: 6 / 7;
  }

  .header__theme-menu {
    display: flex;
    grid-column: 3 / 5;
    inline-size: 100%;
    justify-content: center;
    margin: 0 0 273px 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    grid-column: 1 / 7;
  }

  .header__description {
    grid-column: 4 / 7;
    margin: 114px 0 115px 0;
  }

  .main__section {
    grid-template-columns: 2fr 20px 1fr 1fr 20px 2fr;
  }

  .main__section-two-columns .main__section-subtitle {
    grid-column: 3 / 7;
  }

  .main__section-two-columns .main__section-text {
    grid-column: 3 / 7;
  }

  .main__section-three-columns .main__section-subtitle:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .main__section-three-columns .main__section-subtitle:nth-of-type(2) {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  .main__section-three-columns .main__section-subtitle:nth-of-type(3) {
    grid-column: 6 / 7;
    grid-row: 2;
  }

  .main__section-three-columns .main__section-text:nth-of-type(1) {
    grid-column: 1 / 2;
  }

  .main__section-three-columns .main__section-text:nth-of-type(2) {
    grid-column: 3 / 5;
  }

  .main__section-three-columns .main__section-text:nth-of-type(3) {
    grid-column: 6 / 7;
  } 

  .main__section-list {
    grid-column: 3 / 7;
  }

  .gallery {
    grid-template-rows: 260px 315px 433px;
  }

  .footer-title {
    margin: 319px 0 279px 0;
  }
}